@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100svh;
  overflow: hidden;
}

.skeleton {
  display: inline-block;
  @apply bg-skeleton animate-pulse;
}

.smooth-connect-b-base-200 {
  background-color: inherit;
}

.smooth-connect-b-base-200::after {
  content: "";
  display: block;
  height: 30%;
  aspect-ratio: 20/9;
  position: absolute;
  left: 102%;
  bottom: -3%;
  background-color: transparent;
  border-bottom-left-radius: 4em;
  box-shadow: -10px 0 0 0 hsl(var(--b2)); /* This is where the magic happens! */
  z-index: -5;
}

.smooth-connect-b-base-200::before {
  content: "";
  display: block;
  height: 30%;
  aspect-ratio: 20/9;
  position: absolute;
  right: 102%;
  bottom: -3%;
  background-color: transparent;
  border-bottom-right-radius: 4em;
  box-shadow: 10px 0 0 0 hsl(var(--b2)); /* This is where the magic happens! */
  z-index: -5;
}

.btn:active:hover,
.btn:active:focus {
  --tw-scale-x: var(--btn-focus-scale, 0.97);
  --tw-scale-y: var(--btn-focus-scale, 0.97);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  animation: button-pop 0s ease-out;
}

.btn:active:hover.no-animation,
.btn:active:focus.no-animation {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  animation: button-pop 0s ease-out;
}

input.hide-arrows::-webkit-outer-spin-button,
input.hide-arrows::-webkit-inner-spin-button,
input[type="number"].hide-arrows {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.radio-custom input {
  position: fixed;
  height: 0;
  width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
}

.radio-custom .outline {
  margin: 5px;
  outline-style: none;
}

.radio-custom input:focus-visible ~ .outline {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}

.radio-custom input:checked ~ .outline {
  border: 2px solid white;
}
